.info-main-div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  background-color: black;
  padding: 5px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 10px 5px #fff;
  border-radius: 15px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.top-div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid white;
}
.heading-div{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 30px;
  width: 100%;
}
.info-close-btn-div{
  width: 10%;
}
.info-close-btn{
  color: #fff;
  padding: 5px;
  width: 100%;
  font-weight: bold;

  background-color: red;
}

.buttons-info-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2px 5px;
}

.btn-name{
  color: cyan;
  font-weight: bolder;
  display: flex;
  align-items: top;
  justify-content: start;
  font-size: 15px;
  width: 35%;
  padding-right: 5px;
}

.random-name-div,
.pikachu-div,
.random-emoji-div,
.random-image-div,
.random-phrase-div,
.cook-div{
  display: flex;
  align-items: top;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid white;
  margin-bottom: 15px;
  padding: 0px 5px;
}

.random-name-div{
  border-top: 2px solid white;
  padding-top: 5px;
}
.cook-div{
  border: none;
}

.info-content-div{
  display: flex;
  align-items: center;
  text-align: justify;
  width: 100%;
  margin-left: 2px;
}




@media (max-width : 980px){
  .info-main-div{
    margin-top: 50px;
    width: 90%;
  }
  .heading-div{
    font-size: 20px;
  }
  .btn-name{
    font-size: 10px;
    width: 28%;
    text-align: start;
  }

  .info-content-div{
    font-size: 11px;
    margin-left: 5px;
  }

  .random-name-div,
  .pikachu-div,
  .random-emoji-div,
  .random-image-div,
  .random-phrase-div,
  .cook-div{
    padding: 0;
    padding-bottom: 5px;
    margin-bottom: 2px;
  }
}